extends layout

block content
  h1= Review
  div
    form(method='post', action='/api/beer_lookup')
      input(type='text', name='beerName' placeholder='Search for beer', autofocus)
      input(type="submit" value="Find Beer Reviews" class="button submit-btn button-outline")
    p Results for: "#{query}"
    h4.purp Average Score: #{avgScore}% (#{humanizedScore})
    br
    
    - each review in reviews
      .row.beer-row
        .column.column-20
          - if (review.data.imgURL)
            img(src="#{review.data.imgURL}")
        .column.column-80
          //a(class="hide-link" href="javascript:void(0)") Hide Rating
          h5 #{review.site}
          p.beer-name #{review.data.title}

          - if (review.site == "RateBeer")
            - if (review.data.score)
              h6.purp #{review.data.score} out of #{review.data.outOf}
            - else
              h6 No Score Found
            br
            
          - if (review.site == "Untappd")
            - if (review.data.score)
              h6.purp #{review.data.score} out of #{review.data.outOf}
            - else
              h6 No Score Found
            
          - if (review.site == "BeerAdvocate")
            - if (review.data.baScore || review.data.broScore)
              h6.purp
                |Score: #{review.data.baScore} out of #{review.data.outOf}<br />
                |Bro Score: #{review.data.broScore} out of #{review.data.outOf}
            - else
              h6 No Score Found
          
          small Total Ratings: #{review.data.votes}
  
  script.
    document.getElementsByTagName('form')[0].onsubmit = function () {
      document.getElementsByClassName('button')[0].value='Searching...'
    }

  
        

